body, html {
    height: 100%;
  }
b{
    color: #ff0915;
}
#line{
    width:95%;
    color: black;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    margin-bottom: -12px;
}
body{
    background-image: radial-gradient(rgb(168, 193, 226), rgba(165, 174, 212, 0.884), rgb(243, 243, 245));
    background-size: 100%;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    font-size: 24px;
    color: rgb(21, 18, 46);
}

.searchbar{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
img{
    width: 100%;
}

#logo{
    width: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-top: -16px;
}

p{  text-align: center;
    font-size: 20px;
    color: rgb(122, 11, 11);
    font-family: 'Courgette', cursive;
}

.details {
    padding: 2px 16px;
    font-size: 15px;
}
.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    width: 400px;
    border-style: solid;
    border-color: rgb(46, 12, 3);
    border-width: 5px;
    margin-bottom: 20px;
}

.center{
    text-align: center;
}

.btn, .btnnext, .btnprev {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #dbdee6;
    cursor: pointer;
    font-size: 18px;
}
  
.active, .btn:hover, .btnnext:hover , .btnprev:hover{
   background-color: rgb(16, 214, 32);
   color: white;
}