.detailbtn{
    padding: 2px;
    margin-top: 0px;
    background-color: rgb(104, 56, 238);
    font-family: calibri;
    font-size: medium;
    color: white;
}

#sidebox{
    background-color: rgb(221, 235, 235);
    border: 1px solid rgb(24, 45, 163);
    padding: 30px;
    margin-left: 55%;
    margin-right: 10%;
    margin-top: -450px;
    font-family: calibri;
    font-size: large;
}
p[target=""] {
    color: rgb(179, 179, 170);
  }

p[target="Active"] {
    color: rgb(14, 233, 98);
  }

  p[target="NotActive"] {
    color: rgb(212, 11, 11);
  }


.box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 235, 235);
    border: 1px solid rgb(24, 45, 163);
    padding: 20px;
    margin-left: 5%;
    margin-right: 50%;
    margin-top: 20px;
    font-family: calibri;
    font-size: large;
}

.redbox{
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 235, 235);
  border: 1px solid rgb(231, 16, 34);
  padding: 20px;
  margin-left: 5%;
  margin-right: 50%;
  margin-top: 20px;
  font-family: calibri;
  font-size: large;
}

