body, html {
    height: 100%;
  }

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
body{
    background-image: radial-gradient(rgb(196, 13, 13), rgba(228, 212, 209, 0.884), rgb(0, 0, 0));
    background-size: 100%;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    font-size: 24px;
}

.searchbar{
    text-align: center;
    margin-bottom: 50px;
}


p{
    text-align: center;
    font-size: 22px;
    color: rgb(70, 5, 5);
    font-family: 'Courgette', cursive;
}

#foot{
    font-size: 15px;
    color: rgb(41, 31, 83);
}

.details {
    padding: 2px 16px;
    font-size: 15px;
}
.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.container{
    width: 400px;
    border-style: solid;
    border-color: rgb(46, 12, 3);
    border-width: 5px;
    margin-bottom: 20px;
}

.center{
    text-align: center;
    
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
  
.active, .btn:hover {
   background-color: rgb(19, 194, 19);
   color: white;
}

footer{
    position: relative;
    margin-top: 600px;
}


.button {
    display: inline-block;
    padding: 7px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    outline: none;
    color: rgb(180, 22, 22);
    background-color: rgb(20, 5, 5);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px rgb(122, 5, 5);
  }
  
  .button:hover {background-color: #2f2a53}
  
  .button:active {
    background-color: #26a115;
    box-shadow: 0 2px rgba(0, 0, 0, 0.842);
    transform: translateY(4px);
  }